"*":
  "activate-power-mode":
    comboMode:
      enabled: false
    plugins:
      playAudio: true
      screenShake: true
  "atom-beautify":
    general:
      _analyticsUserId: "c4f4fbd6-855d-40a9-b92a-bb8b83f4b1c9"
    html:
      extra_liners: [
        "head"
        "body"
        "/html"
        "label"
        "input"
        "a"
      ]
      preserve_newlines: false
    js:
      preserve_newlines: false
  "atom-package-deps":
    ignored: []
  "color-picker":
    automaticReplace: true
  core:
    disabledPackages: [
      "wrap-guide"
      "activate-power-mode"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 13
    softWrap: true
  "exception-reporting":
    userId: "5282ac47-7dae-57da-139d-699126045b25"
  linter: {}
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  "symbols-tree-view":
    autoHide: true
    autoToggle: true
    showOnRightSide: true
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
