"*":
  "activate-power-mode":
    comboMode:
      enabled: false
    plugins:
      playAudio: true
      screenShake: true
  "atom-beautify":
    general:
      _analyticsUserId: "2a005dc3-5c59-4087-8f3a-49077a1664ac"
    html:
      extra_liners: [
        "head"
        "body"
        "/html"
        "label"
        "input"
        "a"
      ]
      preserve_newlines: false
    js:
      preserve_newlines: false
  core:
    disabledPackages: [
      "wrap-guide"
      "activate-power-mode"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 16
  "exception-reporting":
    userId: "354f80ec-5e35-47a6-a204-f634c5d2053a"
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  "symbols-tree-view":
    autoHide: true
    autoToggle: true
  "color-picker":
    automaticReplace: true
